@model IEnumerable<MelekNurAslanPortfolyo.Models.Project>
@{
    ViewData["Title"] = "Projelerim";
    Layout = "_AdminLayout";
}

<div class="card shadow">
    <div class="card-header border-transparent">
        <h3 class="card-title">Tüm Projeler</h3>
        <div class="card-tools">
            <a asp-action="Create" class="btn btn-sm btn-primary">Yeni Proje Ekle</a>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0 table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Görsel</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Teknolojiler</th>
                        <th>GitHub</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle text-center">
                                <img src="@item.ImageUrl" style="width: 60px; height: 60px; object-fit: contain; border: 1px solid #eee; border-radius: 5px;" />
                            </td>
                            <td class="align-middle fw-bold">@item.Title</td>

                            <td class="align-middle">
                                @(item.Description != null && item.Description.Length > 50
                        ? item.Description.Substring(0, 50) + "..."
                        : item.Description)
                            </td>

                            <td class="align-middle">@item.Technologies</td>

                            <td class="align-middle">
                                <a href="@item.GithubUrl" target="_blank" class="badge bg-dark text-decoration-none p-2">Link</a>
                            </td>
                            <td class="align-middle">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm text-white">Düzenle</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Bu projeyi silmek istediğine emin misin?');">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>